html, body {
  height: 100%;
	display: grid;
	background-color: black;
	color: white;
	overflow: hidden;
}

.center {
	margin: auto;
	text-align: center;
}

.big {
	font-size: 10vw;
}
.small {
	font-size: 3vw;
}

.down {
	position: relative;
	top: 10px;
}

.moving {
	animation-name: move;
	animation-duration: 150s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes move {
	0% {
		transform: translate(-50px, -50px)
	}
	25% {
		transform: translate(50px, -50px)
	}
	50% {
		transform: translate(50px, 50px)
	}
	75% {
		transform: translate(-50px, 50px)
	}
	100% {
		transform: translate(-50px, -50px)
	}
}

.progress {
	width: 100%;
	/* transform: translate(-25%, 0); */
	background-color: #3f3f3f;
	margin-bottom: 2vw;
}

.bar {
	width: 1%;
	height: .6vw;
	background-color: #9f9f9f;
}

.corner {
	position: absolute;
	left: 100px;
	top: 100px;
}

.bottom-corner {
	position: absolute;
	left: 0px;
	bottom: 0px;
}

a.small-link {
	color: #0a0a0a;
	font-size: 10px;
}

a.small-link:visited {
	color: #0a0a0a;
	font-size: 10px;
}

a {
	color: white;
	text-decoration-line: none;
}

.fine-print {
	font-size: 10px
}